/* cyrillic-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
	unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
  }
  /* cyrillic */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTZX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
    /* latin-ext */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
  /* latin-ext */
@font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 300;
	src: local('Dosis Light'), local('Dosis-Light'), url(https://fonts.gstatic.com/s/dosis/v7/SHQzTQBI7152hSrIuGUiVBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 300;
	src: local('Dosis Light'), local('Dosis-Light'), url(https://fonts.gstatic.com/s/dosis/v7/7aJzV14HzAOiwNTiPgucGfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 400;
	src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v7/RlBXAIuiO5GvH9-0-JbBlw.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 400;
	src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v7/4hYyXH_8WmbBLamf6WjLwg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
/* RESET START */
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	color: #777;
	font: 300 15px/1 'Open Sans', 'sans serif';
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	font-weight: normal;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: none;
}
ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}
img{
	max-width: 100%;
}
textarea{
	resize: vertical;
}
/* RESET END */

/* DEFAULT CLASSES START */
.bg-grey{
	background-color: #f8f8f8;
}
.bg-black{
	background-color: #111;
}
.text-white{
	color: #fff !important;
}
/* DEFAULT CLASSES END */
/* DEFAULT COMPONENTS START */
.default-section{
	padding: 140px 0;
}
.small-section{
	padding: 75px 0;
}
@media (max-width: 767px){
	.default-section{
		padding: 80px 0;
	}
	.small-section{
		padding: 40px 0;
	}
}
/* === RHOMB ICON === */
.rhomb-icon{
	display: inline-block;
	width: 23px;
	height: 23px;
	border-radius: 2px;
	text-align: center;
	line-height: 1.5em;
	font-size: 14px;
	transform: rotate(45deg);
}
.rhomb-icon > *{
	transform: rotate(-45deg);
}
.rhomb-icon.black-icon{
	background-color: #111;
}
.rhomb-icon.white-icon{
	border: 1px solid #646464;
	background-color: #fff;
}
.rhomb-icon.large-icon{
	height: 27px;
	width: 27px;
	line-height: 27px;
	color: #111;
}
/* === RHOMB ICON END === */

/* === TITLE === */
.title{
	font-size: 18px;
	font-family: 'Dosis', 'sans-serif';
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .5em;
	margin-bottom: 75px;
	color: #111;
}
.title.light{
	font-weight: 300;
	letter-spacing: .3em;
}
.title.small{
	font-size: 14px;
	letter-spacing: .4em;
	margin-bottom: 30px;
}
.title.less-margin{
	margin-bottom: 20px;
}
.title.author{
	font-size: 11px;
	letter-spacing: .4em;
	color: #999;
}
@media (max-width: 599px){
	.title{
		margin-bottom: 40px;
	}
}
/* === TITLE END === */

.default-text{
	font-size: 15px;
	line-height: 1.7333;
}
blockquote{
	padding: 0;
	margin: 0;
	border: none;
	font-size: 24px;
	line-height: 1.6;
}
blockquote span{
	font-size: 11px;
	letter-spacing: .2em;
	text-transform: uppercase;
}
.icon{
	font-size: 48px;
}
/* ==TABS== */
.nav-tabs{
	border: none;
}
.nav-tabs > li{
	margin-bottom: 0;
}
.nav > li > a{
	padding: 0;
	margin-right: 0;
	color: rgba(17, 17, 17, .5);
	font-family: 'Dosis', 'sans-serif';
	font-weight: 400;
	letter-spacing: .4em;
}
.nav > li > a:hover{
	background-color: transparent;
	border: none;
	color: rgba(17, 17, 17, .8)
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover{
	border: none;
	color: #111;
}
/* ==TABS END== */

/* ==BTN== */
.btn{
	display: inline-block;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: .2em;
	padding: 6px 40px;
}
/* ==BTN END== */

/* ==BTN-DEFAULT== */
.btn.btn-default{
	background-color: #cfcfcf;
	color: #111;
}
.btn.btn-xs{
	font-size: 11px;
	background-color: #e5e5e5;
	color: #777;
	padding: 0 15px;
}
.btn.btn-black{
	background-color: #111;
	color: #fff;
	font-size: 13px;
}
.btn.btn-submit{
	line-height: 22px;
}
.btn.btn.btn-default:hover{
	background-color: #f3e9e9;
	border: 1px solid #f3e9e9;
}
.btn-black:hover{
	background-color: rgba(0, 0, 0, .7);
}
/* ==BTN-DEFAULT END== */

/* == DEFAULT FORM ELEMENT == */
.form-control{
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	height: 36px;
	padding: 6px 13px;
	font-size: 12px;
	letter-spacing: .2em;
	text-transform: uppercase;
	color: #777777;
	box-shadow: none;
}
.form-control:focus{
	box-shadow: none;
	border-color: #6f6e6e;
}
textarea.form-control{
	padding-top: 12px;
}
.form-submit{
	font-size: 11px;
	color: #aaa;
}
.form-submit fa{
	font-size: 12px;
}

/* == DEFAULT FORM ELEMENT END == */

blockquote p{
	margin-bottom: 25px;
}

@media (max-width: 991px){
	blockquote p{
		margin-bottom: 0;
	}
	blockquote{
		margin-bottom: 25px;
	}
}

/* DEFAULT COMPONENTS END */
.header{
	width: 100%;
	position: absolute;
	z-index: 99;
}
.container-fluid{
	padding: 0 15px;
	margin: auto;

}
.header-nav{
	float: right;
	line-height: 79px;
	font-size: 11px;
	letter-spacing: .3em;
	text-transform: uppercase;
	padding-right: 17px;
	color: rgba(255, 255, 255, .75)
}
.header-nav > a:hover{
	color: rgba(255, 255, 255, 1);
}
.logo{
	float: left;
	padding: 29px 14px;
}
.header-nav a + a{
	margin-left: 34px;
}
.header .navbar-toggle{
	padding: 0;
	margin: 30px 0;
	border: none;
}
.header .navbar-toggle .icon-bar{
	background-color: #fff;
}

@media (max-width: 767px){
	#header-nav{
		position: absolute;
		top: 100%;
		width: 100%
	}
	.header-nav{
		width: 100%;
		line-height: 3em;
		z-index: 99;
		background-color: #000;
		padding: 15px 10px 15px;
		text-align: right;
	}
	.header-nav a{
		display: block;
	}
	.header-nav a + a{
		margin-left: 0;
	}
}
/* DEFAULT END */

/* CUSTOM STYLE START */

/* == INNER == */
.inner{
	height: 100vh;
	background: url("../img/inner-bg.jpg") no-repeat center/cover;
	text-align: center;
	position: relative;
}
.inner::before{
	content: '';
	height: 100%;
	display: inline-block;
	vertical-align: middle; 
	margin-left: -4px;
}
.inner-content{
	display: inline-block;
	vertical-align: middle;
}
.inner-content h1{
	font-size: 30px;
	letter-spacing: 1.7em;
	margin-bottom: 102px;
	color: rgba(254, 254, 254, .9);
	text-indent: 1.7em;
}
.inner-content span{
	display: block;
	font-size: 19px;
	color: rgba(254, 254, 254, .68)
}
.inner .rhomb-icon{
	position: absolute;
	border: none;
	bottom: 35px;
	right: 50%;
	margin-right: -12px;
}
.inner .rhomb-icon .fa{
	padding-top: 10px;
}

@media (max-width: 1199px){
	.inner-content h1{
		margin-bottom: 50px;
	}
}
@media (max-width: 991px){
	.inner-content h1{
		letter-spacing: .7em;
		text-indent: .7em;
	}
}
@media (max-width: 767px){
	.inner{
		height: auto;
		padding: 150px 0;
	}
}
@media (max-width: 599px){
	.inner-content h1{
		letter-spacing: .2em;
		text-indent: .2em;
	}
}
@media (max-width: 479px){
	.inner-content span{
		padding: 0 15px;
	}
}	
/* == INNER END == */

/* == ABOUT STUDIO == */
.about-studio{
	border-bottom: 1px solid #ececec;
}
.about-studio .about-studio-text{
	margin-bottom: 100px;
}
.about-studio .team-item .team-item-img{
	margin-bottom: 27px;
	position: relative;
}
.about-studio .team-item .team-item-img img{
	filter: grayscale(100%);
}
.about-studio .team-item .team-item-img .team-item-skills{
	position: absolute;
	opacity: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #131313;
	transition: all .3s linear;
	transform: scale(.8);
	padding: 40px;
}
.about-studio .team-item .team-item-img:hover .team-item-skills{
	opacity: 1;
	transform: scale(1);
}
.about-studio .team-item .team-item-img .team-item-skills .title{
	margin-bottom: 25px;
}
.about-studio .team-item .team-item-img .team-item-skills p{
	font-size: 13px;
	line-height: 1.6;
	color: rgba(255, 255, 255, .5);
	margin-bottom: 40px;
}
.about-studio .team-item .team-item-skills .progress-wrap + .progress-wrap{
	margin-top: 20px;
}
.about-studio .team-item .team-item-skills .progress-wrap span{
	display: block;
	font-size: 11px;
	letter-spacing: .2em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .9);
	margin-bottom: 5px;
}
.about-studio .team-item .team-item-skills .progress{
	background-color: rgba(255, 255, 255, .15);
	height: 12px;
	border-radius: 0;
	margin-bottom: 0;
}
.about-studio .team-item .team-item-skills .progress-bar{
	width: 90%;
	background-color: rgba(255, 255, 255, .75);
}
.about-studio .team-item .team-item-info{
	font-family: 'Dosis', "Sans-serif";
	text-transform: uppercase;
	letter-spacing: .4em;
	padding: 0 10px;
}
.about-studio .team-item .team-item-info span{
	display: block;
}
.about-studio .team-item .team-item-info .team-item-role{
	font-size: 12px;
	margin-top: 12px;
}

@media (max-width: 1199px){
	.about-studio .about-studio-text{
		margin-bottom: 50px;
	}
	.about-studio .team-item .team-item-img .team-item-skills{
		padding: 30px;
	}
	.about-studio .team-item .team-item-img .team-item-skills p{
		margin-bottom: 20px;
	}
	.about-studio .team-item .team-item-skills .progress-wrap + .progress-wrap{
		margin-top: 15px;
	}
}
@media (max-width: 991px){
	.about-studio .team-item{
		text-align: center;
	}
	.about-studio .team-item .team-item-img{
		display: inline-block;
		margin-bottom: 15px;
	}
	.our-team .row > div[class^="col-"] + div[class^="col-"]{
		margin-top: 30px;
	}
}
@media (max-width: 767px){
	.about-studio .about-studio-text .row div:nth-child(2){
		margin-bottom: 20px;
	}
}
/* == ABOUT STUDIO END == */

/* == SERVICES == */
.services .title{
	margin-bottom: 115px;
}
.services-tab .nav-tabs > li{
	width: 20%;
}
.services-tab .nav-tabs > li a{
	font-size: 14px;
}
.services-tab .nav-tabs > li a span:not(.icon){
	display: block;
}
.services-tab .nav-tabs > li .icon{
	margin-bottom: 30px;
}
.services-tab .tab-content{
	margin-top: 75px;
}

@media (max-width: 991px){
	.services-tab .nav-tabs > li{
		width: 33.333%;
		margin-bottom: 30px;
	}
	.services-tab .tab-content{
		margin-top: 35px;
	}
}
@media (max-width: 767px){
	.services-tab .tab-content .row div:nth-child(2){
		margin-bottom: 20px;
	}
	.services .title{
		margin-bottom: 75px;
	}
}
@media (max-width: 559px){
	.services-tab .nav-tabs > li{
		width: 50%;
	}
	.services .title{
		margin-bottom: 50px;
	}
}

/* == SERVECES END == */

/* == LETS TALK == */
.lets-talk-content{
	padding: 140px 0;
}
.lets-talk-content p{
	color: rgba(255, 255, 255, .7);
	margin-bottom: 40px;
}
.lets-talk-img{
	margin-top: -32px;
}

@media (max-width: 767px){
	.lets-talk-content{
		padding: 80px 0;
	}
}
@media (max-width: 599px){
	.lets-talk-content .btn{
		width: 100%;
	}
}
/* == LETS TALK END == */

/* == PORTFOLIO == */
.default-section.portfolio{
	padding-bottom: 0;
}
.portfolio .container p{
	max-width: 760px;
	margin: auto;
}
.portfolio .portfolio-tab{
	margin-top: 80px;
	overflow: hidden;
}
.portfolio-tab .nav-tabs{
	margin-bottom: 45px;
}
.portfolio-tab .nav-tabs li{
	display: inline-block;
	float: none;
	font-size: 13px;
}
.portfolio-tab .nav-tabs li + li{
	padding-left: 65px;
}
.tab-pane .portfolio-item{
	float: left;
	width: 33.3333%;
	padding: 4px;
	filter: grayscale(100%);
	transition: all .3s linear;
}
.tab-pane .portfolio-item:hover{
	filter: grayscale(0);
}
.portfolio-item img{
	width: 100%;
}
.portfolio-tab .tab-content{
	margin: 0 -4px;
}
.tab-content.clearfix:after {
	content: "";
	display: table;
}
.portfolio-tab-ender{
	clear: both;
}

@media (max-width: 991px){
	.tab-pane .portfolio-item{
		width: 50%;
	}
}
@media (max-width: 767px){
	.portfolio .portfolio-tab{
		margin-top: 40px;
	}
	
	.portfolio-tab .nav-tabs > li{
		display: block;
	}
	.portfolio-tab .nav-tabs > li + li{
		margin-top: 10px;
		padding-left: 0;
	}
}
@media (max-width: 599px){
	.tab-pane .portfolio-item{
		width: 100%;
	}
}

/* == PORTFOLIO END == */

/* == START PROJECT == */
.start-project .title{
	margin-bottom: 22px;
}
.start-project .title span{
	display: block;
}
.start-project .btn:hover{
	border: 3px solid #fff;
}
@media (max-width: 599px){
	.start-project .btn{
		width: 100%;
	}
}
/* == START PROJECT END == */

/* == WHY CHOOSE US == */
.why-choose-item .icon{
	margin-bottom: 30px;
}
.why-choose-us .why-choose-text p{
	font-size: 14px;
	text-align: left;
}

.why-choose-us .why-choose-item:nth-child(-n+3){
	margin-bottom: 80px;
}

@media (max-width: 991px){
	.why-choose-us .why-choose-text p{
		text-align: center;
	}
	.why-choose-us .why-choose-item:nth-child(-n+3){
		margin-bottom: 0;
	}
	.why-choose-us .why-choose-text div[class^="col-"] + div[class^="col-"]{
		margin-top: 70px;
	}
}
@media (max-width: 599px){
	.why-choose-us .why-choose-text div[class^="col-"] + div[class^="col-"]{
		margin-top: 40px;
	}
}
/* == WHY CHOOSE US END == */

/* == WHAT PEOPLE SAY == */
.what-people-say{
	overflow: hidden;
}
.what-people-say .carousel{
	padding: 140px 0; 
}
.item .carousel-content .icon{
	display: block;
	font-size: 32px;
	margin-bottom: 20px;
}
.item .carousel-content .title{
	margin-bottom: 40px;
}
.item .carousel-content p{
	font-size: 18px;
	font-weight: 300;
	color: rgba(255, 255, 255, .75);
	max-width: 750px;
	margin: 0px auto 25px;
}
.item .carousel-content .speach-content span{
	color: rgba(255, 255, 255, .3);
	font-size: 11px;
	letter-spacing: 0.2em;
}
.what-people-say .carousel-control{
	width: 85px;
	height: 85px;
	background-color: #ffffff;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
	bottom: auto;
	background-image: none;
	opacity: 1;
	text-shadow: none;
	color: #222222;
	margin: 0 -44px;
}
.what-people-say .carousel-control .fa{
	position: absolute;
	transform: rotate(-45deg);
}
.what-people-say .carousel-control.left .fa{
	right: 18px;
	top: 9px;
}
.what-people-say .carousel-control.right .fa{
	left: 15px;
    bottom: 11px;
}
.what-people-say .carousel-indicators li{
	width: 7px;
	height: 7px;
	margin: 2px;
	background-color: #ccc;
}
.what-people-say .carousel-indicators .active{
	background-color: #000;
	border: 1px solid #ccc;
	width: 8px;
	height: 8px;
	margin: 1px;
}

@media (max-width: 991px){
	.item .carousel-content p{
		padding: 0 50px;
	}
}
@media (max-width: 767px){
	.what-people-say .carousel-control{
		margin: 0 -70px;
	}
	.what-people-say .carousel{
		padding: 80px 0;
	}
	.carousel-indicators{
		bottom: 30px;
	}
}
@media (max-width: 579px){
	.item .carousel-content p{
		font-size: 15px;
		line-height: 1.2em;
	}
}
/* == WHAT PEOPLE SAY END == */

/* == LATEST NEWS == */
.latest-news .latest-news-title .title.author{
	line-height: 18px;
	float: right;
}
.latest-news .latest-news-title .title.author:hover{
	color: rgba(0, 0, 0, .7)
}
.title.author .fa{
	font-size: 11px;
}
.latest-news-title.clearfix:after{
	content: "";
	display: table;
}
 .latest-news-content .news-content-img{
	filter: grayscale(100%);
	transition: all .3s linear;
}
.latest-news-content a:hover{
	filter: grayscale(0);
}
.latest-news-content span{
	display: block;
}
.latest-news-content .news-title{
	font-size: 15px;
	letter-spacing: .2em;
	margin: 30px 0 15px 0;
	color: #777;
}
.latest-news-content .title.author{
	margin-bottom: 27px;
}
.latest-news-content p{
	margin-bottom: 30px;
}
.btn.btn-xs .fa{
	font-size: 12px;
}

.latest-news-content .btn.btn-xs:hover{
	border: 1px solid #b3b0b0;
}

@media (max-width: 991px){
	.latest-news .row .latest-news-content + .latest-news-content{
		margin-top: 40px;
	}
	.latest-news-content p{
		margin-bottom: 20px;
	}
}
@media (max-width: 479px){
	.latest-news .latest-news-title .title{
		margin-bottom: 20px;
	}
	.latest-news .latest-news-title .title.author{
		float: left;
		line-height: 1;
	}
}

/* == LATEST NEWS END == */

/* == SUBSCRIBE == */
.subscribe .title{
	font-size: 16px;
}
.subscribe .form-control{
	max-width: 290px;
    display: inline-block;
    margin-right: 5px;
}
.subscribe .form-submit{
	padding-top: 20px;
}

@media (max-width: 599px){
	.subscribe .form-control{
		display: block;
		max-width: 100%;
	}
	.subscribe .btn{
		width: 100%;
		margin-top: 15px;
	}
}
/* == SUBSCRIBE END == */

/* == CONTACT == */
.contact-item .contact-icon,
.contact-item .contact-item-content{
	display: inline-block;
	vertical-align: middle;
}
.contact-item .contact-item-content{
	margin-left: 15px;
}
.contact-item .contact-item-content span{
	display: block;
}
.contact-item .contact-item-content .contact-item-title{
	font-size: 12px;
	color: #777777;
	letter-spacing: 0.3em;
	margin-bottom: 10px;
}
.contact-item .contact-item-content .contact-data{
	font-size: 15px;
	color: #444444;
}
.contact .contact-form{
	margin-top: 80px;
}
.contact .contact-form .form-col{
	width: 50%;
	padding: 0 5px;
	float: left;
}
.contact .contact-form .form-row{
	margin: 0 -5px;
	overflow: hidden;
}
.contact .contact-form .form-col .form-control + .form-control{
	margin-top: 10px;
}
.contact .contact-form textarea{
	min-height: 82px;
}
.contact .form-submit{
	margin-top: 20px;
	line-height: 36px;
}
.contact .contact-form .form-submit:hover{
	color: #111;
}

@media (max-width: 991px){
	.contact-item .contact-item-content{
		margin-left: 10px;
	}
}
@media (max-width: 767px){
	.contact .row div[class^="col-"] + div[class^="col-"]{
		margin-top: 25px;
	}
	.contact .contact-form .form-col{
		width: 100%;
	}
	.contact .contact-form textarea{
		margin-top: 10px;
	}
}
@media (max-width: 599px){
	.contact-form .contact-submit{
		text-align: center;
	}
	.contact-form .contact-submit .form-submit{
		float: none !important;
	}
	.contact-submit .btn{
		width: 100%;
	}
}
/* == CONTACT END == */

/* == MAP == */
.map {
	position: relative;
	overflow: hidden;
}
.map iframe{
	width: 100%;
	height: 410px;
}
.map .on-map-block{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .9);
	transition: all .3s linear;
}
.map .on-map-block::before{
	content: "";
	height: 100%;
	vertical-align: middle;
	display: inline-block;
	margin-left: -4px;
}
.map .on-map-block .on-map-content{
	display: inline-block;
	vertical-align: middle;
}
.map:hover .on-map-block{
	opacity: 0;
	transform: translateY(100%);
}
.on-map-content .rhomb-icon{
	margin-bottom: 30px;
}
.on-map-content .title{
	font-size: 16px;
	margin-bottom: 0;
}
/* == MAP END == */

/* == FOOTER == */
.footer .container{
	padding: 140px 0 60px;
	position: relative;
}
.footer .container .social-nav{
	margin: 30px 0 115px;
}
.footer .container .social-nav li{
	display: inline-block;
	color: #000;
}
.footer .container .social-nav li + li{
	margin-left: 20px;
}
.footer .container .social-nav .rhomb-icon{
	border-color: #000;
} 
.footer .container .social-nav .rhomb-icon:hover{
	color: rgba(0, 0, 0, .7);
	border-color: rgba(0, 0, 0, .7);
}
.footer-title .title{
	display: block;
	margin-bottom: 15px;
	font-size: 12px;
}
.footer-title .slogan{
	font-size: 11px;
	color: #999;
}
.footer .container .jumper-up{
	color: #c6c6c6;
	font-size: 30px;
	position: fixed;
	bottom: 30px;
	right: 30px;
}

@media (max-width: 767px){
	.footer .container{
		padding: 80px 0 40px;		
	}
	.footer .container .social-nav{
		margin: 20px 0 60px;
	}
}
/* == FOOTER END == */
/* CUSTOM STYLE END */
